name: Process Artisan Commands
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 3'

jobs:
  fetch_laravel_versions:
    name: Fetch Latest Laravel Versions
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.fetch_versions.outputs.matrix }}
      packages: ${{ steps.set-packages.outputs.packages }}
    steps:
      - name: Get versions from Packagist
        id: fetch_versions
        run: |
          # Fetch the latest Laravel versions from Packagist
          # Convert to JSON e.g {v: "8", php: ">=7.3.0"}
          # Extract the versions and their PHP requirements
          # Remove duplicate lines based on the first column
          # Remove v5.x versions as the putput breaks
          # Get major v only, dedupe, and combine on one line
          # Output the JSON to the step output
          curl -s https://packagist.org/packages/laravel/laravel.json \
          | jq -r '.package.versions[] | select(.require.php != null) | select(.version_normalized != null) | .version_normalized, .require.php' \
          | sed -e '/dev/,+1d' -e '1~2 s/\..*//' -e '2~2 s/|.*$//' -e 's/[^0-9]*//' \
          | cut -f1,2 -d'.' \
          | awk 'NR%2{printf "%s ",$0;next;}1' \
          | sort -Vru -k1,1 \
          | sed '/^5 /d' \
          | jq -Rcn '[inputs | split(" ") | {v:.[0], php:.[1]}]' \
          | tee /tmp/versions.json
          echo "matrix=$(cat /tmp/versions.json)" >> "$GITHUB_OUTPUT"

      - name: Check out code
        uses: actions/checkout@v4

      - name: Import packages
        id: set-packages
        run: |
          packages=`cat $GITHUB_WORKSPACE/manifest.json | jq --compact-output '. | {packages: (.packages | join(" "))}'`
          echo $packages
          echo "packages=$packages" >> $GITHUB_OUTPUT

  generate:
    needs: fetch_laravel_versions
    name: Laravel v${{ matrix.laravel.v }} - PHP ${{ matrix.laravel.php }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        laravel: ${{ fromJson(needs.fetch_laravel_versions.outputs.matrix) }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.laravel.php }}
          extensions: dom, curl, libxml, mbstring, zip
          tools: composer:v2

      - name: Install Laravel
        run: composer create-project --no-progress laravel/laravel="^${{ matrix.laravel.v }}" /tmp/laravel

      - name: Install Laravel Packages
        run: |
          cd /tmp/laravel
          composer require --no-progress --no-interaction --ignore-platform-reqs ${{fromJson(needs.fetch_laravel_versions.outputs.packages).packages}}
        continue-on-error: true

      - name: Run Generator Command
        run: |
          cd /tmp/laravel
          cat ${{ github.workspace }}/build | php artisan tinker > /tmp/${{ matrix.laravel.v }}.x.json | true
          cp /tmp/${{ matrix.laravel.v }}.x.json ./assets/

      - name: Commit compiled files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Build Laravel version v${{ matrix.laravel.v }}
          file_pattern: assets/${{ matrix.laravel.v }}.x.json
