name: Process Artisan Commands

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 3'

jobs:
  fetch_laravel_versions:
    name: Discover Latest Laravel Versions
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.fetch_versions.outputs.matrix }}
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Fetch from Packagist
        id: fetch_versions
        run: |
          # Fetch the latest Laravel versions from Packagist
          # Convert to JSON e.g {v: "8", php: ">=7.3.0"}
          # Extract the versions and their PHP requirements
          # Remove duplicate lines based on the first column
          # Get major v only, dedupe, and combine on one line
          # Output the JSON to the step output
          curl -s https://packagist.org/packages/laravel/laravel.json \
          | jq -r '.package.versions[] | select(.require.php != null) | select(.version_normalized != null) | .version_normalized, .require.php' \
          | sed -e '/dev/,+1d' -e '1~2 s/\..*//' -e '2~2 s/[^|]*|//' -e 's/[^0-9]*//' \
          | cut -f1,2 -d'.' \
          | awk 'NR%2{printf "%s ",$0;next;}1' \
          | sort -Vru -k1,1 \
          | jq -Rcn '[inputs | split(" ") | {v:.[0], php:.[1]}]' \
          | tee /tmp/versions.json
          echo "matrix=$(cat /tmp/versions.json)" >> "$GITHUB_OUTPUT"

  generate:
    needs: fetch_laravel_versions
    name: Laravel ${{ matrix.laravel.v }}.x - PHP ${{ matrix.laravel.php }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        laravel: ${{ fromJson(needs.fetch_laravel_versions.outputs.matrix) }}
      fail-fast: false
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.laravel.php }}
          tools: composer:v2

      - name: Install Laravel
        run: composer create-project --no-progress laravel/laravel="^${{ matrix.laravel.v }}" /tmp/laravel

      - name: Configure PHP Platform
        run: |
          cd /tmp/laravel
          composer config platform.php ${{ matrix.laravel.php }} --file composer.json

      - name: Add Laravel Nova Repository
        run: |
          cd /tmp/laravel
          composer config repositories.nova '{"type": "composer", "url": "https://nova.laravel.com"}' --file composer.json
          composer config --global http-basic.nova.laravel.com "${{ secrets.NOVA_USERNAME }}" "${{ secrets.NOVA_LICENSE_KEY }}"

      - name: Install Laravel Packages
        run: |
          cd /tmp/laravel
          for package in $(jq '.packages | .[]' ${{ github.workspace }}/manifest.json); do
            composer require --no-progress --no-interaction --ignore-platform-reqs -W $(echo $package | xargs echo) || true
          done
        continue-on-error: true

      - name: Run Generator Command
        run: |
          cd /tmp/laravel
          cp ${{ github.workspace }}/build.php /tmp/laravel/ | php -f /tmp/laravel/build.php > /tmp/${{ matrix.laravel.v }}.x.json
          cp /tmp/${{ matrix.laravel.v }}.x.json ${{ github.workspace }}/assets/

      - name: Sync Git Changes
        run: git pull origin ${GITHUB_REF##*/} || true # can be run safely as only .x.json files are changed

      - name: Commit Laravel Version
        uses: EndBug/add-and-commit@v9
        with:
          message: "Build Laravel ${{ matrix.laravel.v }}.x [skip ci]"
          pull: ' '
          add: assets/${{ matrix.laravel.v }}.x.json
